* {
  box-sizing: border-box;
}

/* Colour Styling Variables */
:root {
  --primary: #E1E1E1;
  --secondary: #1B1B1B;
  --dark: #000000;
  --light: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: var(--primary);
  background-color: var(--secondary);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-size: calc(15px + 0.5vw);
}

header {
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--dark);
  border-bottom: 1px ridge;
  transition: all 0.2s;
}

header img {
  max-width: 100%;
  height: calc(150px + 2.5vmax);
  width: calc(150px + 2.5vmax);
}

header h1 {
  color: var(--light);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: calc(30px + 1.5vmax);
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--light);
  margin-right: 10px;
  font-size: calc(20px + 0.5vw);
}

nav a:hover {
  border-bottom: 2px outset var(--primary);
  transform: skew(-7deg, 0deg);
}

main {
  margin-top: 15px;
  margin-bottom: 45px;
}

ul {
  list-style-type: disc;
  font-size: calc(20px + 0.5vw);
}

address img {
  max-width: 100%;
  height: 6vmax;
  width: 6vmax;
}

address img:hover {
  box-shadow: 0px 0px 5px #fff;
  border-radius: 25px;
}

footer {
  padding: 0px 0px 40px 0px;
  background-color: var(--dark);
  border-top: 1px ridge;
}

.spacer {
  flex-grow: 1;
}

.page-wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.page-section > h2 {
  font-size: calc(25px + 0.5vw);
  width: 100%;
  text-align: center;
}

.page-section > div {
  flex: 0 0 90%;
}

.page-section p {
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--dark);
  background-color: var(--secondary);
  color: var(--secondary);
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 25px 0;
  margin: 0.5em;
  background-blend-mode: luminosity;
  background-size: 150%;
  background-size: cover;
  transition: all 0.5s;
  font-size: 0.9rem;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.89);
}

/* Featured item */
.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(19, 18, 18, 0.151), 3px 3px 0px rgba(206,89,55,0);
  transform: translate(0px, -8px);
}

.flex-item div {
  background-color: var(--primary);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact address a {
  margin: 20px;
}

/* Project Background Images */
.scratch-games {
  background-image: url(../images/scratch.png);
}

.password-generator {
  background-image: url(../images/password_result.png);
}

.weather-dashboard {
  background-image: url(../images/weather_dashboard_complete.png);
}

.coding-quiz {
  background-image: url(../images/coding_quiz_complete.png);
}

.crypto-tracker {
  background-image: url(../images/crypto_tracker.png);
}

@media screen and (max-width: 980px) {
  header {
    padding: 10px 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header img {
    height: calc(85px + 0.5vmax);
    width: calc(85px + 0.5vmax);
  }
  
  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  header nav {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  
  header h1 {
    display: none;
  }

  header img {
    height: calc(75px + 0.5vmax);
    width: calc(75px + 0.5vmax);
  }

  nav {
    flex-direction: column;
  }
  
  /* Return featured item to be consistent */
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }
}
